body 
{
    background-color: rgb(29, 51, 60);
    color: rgb(206, 226, 229);
    text-align: center;
}
h1 
{
    color: rgb(206, 226, 229);
    text-align: center;
}
p
{
    text-align: center;
    color: white;
}
ul   
{
    color: white;
    text-align: center;
}