body 
{
  background-color: rgb(61, 67, 177);
}
h1 {
  color: white;
  text-align: center;
}
p
{
    text-align: center;
    color: white;
}
ul   {
    color: white;
    text-align: center;
}
.Creditos{
  text-decoration: underline;
  font-family: fantasy;
  font-size: 40px;
  color: rgb(182, 82, 25);
}
#Curso{
    font-family: cursive;
    color:rgb(167, 145, 49) ;
}
.nombres{
  text-decoration: underline;
  font-size: 20px;
  font-family:cursive;
}

