.Creditos
body 
{
  background-color: rgb(36, 33, 29);
}
h1 {
  color: white;
  text-align: center;
}
p
{
    text-align: center;
    color: white;
}
ul   {
    color: white;
    text-align: center;
}

