:root {
  --color-glow: #ffffffe3;
  --color-texto: #ffffff;
  --color-texto_nollamativo: #c5c5c5; 
  --color-fondo: #202020;
  --color-blur: #c5c5c533;
  --color-barra: #303030;
  --color-icono-aside: #ffffff88;
  --color-indicador: #221f1fbf;
  --color-borde-indicador: #0303031c;
  --color-buscador: #5a5a5ab6;
  --color-resultado-busqueda-hover: #505050;
  --color-resultado-busqueda: #303030b0;
  --color-reproductor: #b0afaf27;
  --color-icon-reproductor: #c5c5c5;
  --color-reproduciendo-back-next-play-stop: #202020b8;
}
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}
/*Estilos*/
.desvanecido_out{
    opacity: 1;
    transition: opacity 1s cubic-bezier(.65,.35,.22,.66);
}
.crezca{
    transition: transform 1s;
    transform: scale(1);
}
.crezca:hover{
    transform: scale(1.05);
}
.glow{
    transition: filter 0.6s;
}
.glow:hover{
    filter:drop-shadow(0px 0px 6px var(--color-glow))
}
.glow_crezca{
    transition: transform 1s, filter 0.6s;
}
.glow_crezca:hover{
    transform: scale(1.2);
    filter:drop-shadow(0px 0px 6px var(--color-glow))
}
.oculto{
    display: none !important;
}
.blur{
    backdrop-filter: blur(5px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.286);
    box-shadow: 0 8px 32px rgba(0,0,0,0.2);
    transition: 1s transform;
}
.blur:hover{
    transform: scale(1.02);
}
.blur_color{
    background-color: var(--color-blur);
}
body {
    background-color: var(--color-fondo); 
}
input:checked
{
    border: none;
}
/*Display de sign up*/
#contenedor_del_contenedor_form_signup{
    background-image: url('https://cdn.pixabay.com/photo/2019/10/22/16/02/black-and-white-4569096_1280.jpg');
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: none;
    padding: none;
    margin: none;
    height:100vh;
    width:100vw;
}
.formato_signup{
    display: flex;
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:16px;
    padding: 4vh 15vw 4vh 15vw;
    color:rgba(255, 255, 255, 0.904);
}
#signup
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 16px;
    color:rgba(255, 255, 255, 0.904);
}
.encabezado_login{
    font-size: 22px;
    cursor:none;
}
.img{
    width: 100px;
    height: auto;
}
#divdatosIngreso {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: fit-content;
}
#contenedor_usuario{
    display: flexbox;
    justify-content: space-evenly;
}
#usuario{
    width: 100%;
}
.input_login{
    background-color: #5a5a5ab6;
    color:white;
    border:1px solid #cacacab6;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.3s;
}
.input_login::placeholder{
    color: rgba(255, 255, 255, 0.67);
    text-align: center;
}
.input_login:hover, 
.input_login:focus{
    background-color: #202020;
    color: rgb(235,235,235)
}
.btn_lineado
{
    background-color: transparent;
    border: none;
    color: #c5c5c5;
    font-size: 10px;
    transition: all;
    transition-duration:0.8s;
}
.btn_lineado:hover{
    border-bottom: 1px solid #c5c5c5;
    font-size: 12px;
}
@keyframes desvanecido { /*Es la animacion de cuando la contraseña aparece*/
    from {
        opacity:0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
#contraseña{
    width: 100%;
}
.animar-aparicion{
    animation: desvanecido 0.5s ease;
}
.btn-login
{
    padding: 0.1rem 0.2rem;
    border: 1px solid #141414;
    border-radius: 4px;
    font-size: 12px;
    background-color: #202020;
    color: #c5c5c5;
    cursor: pointer;
    transition-duration: .5s;
}
.btn-login:hover
{
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    padding: 0.1rem 0.7rem;
    font-size: 12px;
    background-color: #202020;
    color: #c5c5c5;
}
/*Fin de display de login*/

/*//////////////////////////////////*/
/*Display de home*/
.icon-select > input{
    z-index: 10000;
}
#interfaz{
    display: flex;
}
#cont_reproduciendo{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15vh;
    bottom: .5vh;
    z-index: 2;
}
#cont_reproduccion_controles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 90%;
    max-width: 480px;
    background-color: var(--color-reproductor);
    border-radius: 12px;
}
#cont_reproductor_sin_barra_tiempo
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: fit-content;
    width: 100%;
}
#reproductor
{
    display: flex;
    flex-direction: row;
}
.rep_button{
    background-color: transparent;
    border: none;
}
.icon_reproductor{
    stroke:var(--color-icon-reproductor);
}
.icon_reproduciendo_fill{
    fill: var(--color-icon-reproductor);
}
#reproduciendo_back_next_play_stop{
    transform: scale(0.75);
    display: flex;
    flex: row wrap;
    align-items: center;
    justify-content: space-between;
    height: 5.5vh;
    width: fit-content;
    border: none;
    padding: 0.2vh 2vh;
    background-color: var(--color-reproduciendo-back-next-play-stop);
}
#fullscreen_normal
{
    position: relative;
    width: 10vw;
    height: 5vh;
}

#fullscreen_normal:fullscreen
{
    width: 100vw;
    height: 100vh;
    background-color: var(--color-fondo);
    display: flex;
    justify-content: center;
    align-items: center;
}
.player_normal
{
    display: flex;
    height: 100%;
    width: 100%;
    background-color: var(--color-fondo);
    border-radius: 10px;
    transition: all 1s;
}
#btn_ampliar_fullscreen
{
    position: absolute;
    top: -1vh;
    right: -1vw;
}
#cont_seekbar
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 90%;
}
.barra 
{
  appearance: none;
  width: 100%;
  height: 1px;
  cursor: pointer;
  margin: 1vw;
}
#volumeSlider
{
    width: 20% !important
}
#aside-pestañas
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-barra);
    max-width: 140px;
    max-height: 100vh;
}
#aside_form{
    width: 100%;
}
.icon-select
{
    position: relative;
    display: flex;
    width: 100%;
    min-width: 140px;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: none;
    margin: none;
    z-index: 0;
}
.animacion_icono{
    display: none;
}
.icono_label {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
}
.icon{
    fill: var(--color-icono-aside);
    border: none;
    margin: none;
    padding: none;
}
.indicator{
    position: absolute;
    background-color: var(--color-indicador);
    width: 100%;
    height: 33%;
    top: 0;
    border-radius: 0;
    border: 1px solid var(--color-borde-indicador);
    transition: all .3s ease-in-out;
    z-index: -1; /*Para que el indicador este detras del icon*/
}

#div_area_home
{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: var(--color-fondo);   
}
#buscador_sec {
    position: fixed;
    right: 0;
    top: 12px;
    width: 180px;
    max-width: 80vh;
    height: 3.5vh;
    background: var(--color-buscador);
    border-radius: 20px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transition: width 1s cubic-bezier(.4,1.5,.6,1), height 0.4s cubic-bezier(.4,1,.6,1), transform 1s;
    z-index: 10;
    padding: 0 10px;
    overflow: hidden;
    margin-right: 2vw;
}
#buscador_sec:focus-within, #buscador_sec.expandido {
    padding:1%;
    border: none;
    width: 65vw;
    height: 60vh;
    overflow: auto;
}
#buscador_input {
    width: 95%;
    height: 28px;
    background: transparent;
    border: none;
    color: white;
    outline: none;
    font-size: 1em;
    margin-bottom: 0;
    margin: none;
    padding: none;
    border: none;
    overflow: auto;
}
#contenedor_resultados {
    display: flex;
    flex-direction: column;
    gap: 8px; /* Espacio entre resultados */
    margin-top: 16px;
    width: 100%;
    overflow: auto;
}
.estilo_por_resultado
{
    background: var(--color-resultado-busqueda);
    color: #ffffff;
    padding: 8px 12px;
    border: none;
    border-radius: 8px;
    margin: 0;
    cursor: pointer;
    transition-duration: 0.5s;
}
.estilo_por_resultado:hover p:hover {
    background: var(--color-resultado-busqueda-hover);
}
.recom_mover
{
    margin: 20px;
    margin-top: 54px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--color-icon-reproductor);
}
#cont_art_recom
{
    margin-top: 10vh;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth; 
    
}
#cont_album_recom
{
    margin-top: 10vh;
    display: flex;
    overflow-x: auto;   
    scroll-behavior: smooth;
}

.elemento
{
    transform: scale(.8);
    background-image: linear-gradient(var(--color-barra), var(--color-icono-aside));
    border-radius: 50%; 
    padding: 0.05rem;
    margin: 1vh;
    width: 17vh; 
    height: 17vh;
    clip-path: circle(100%);
    object-fit: cover;
    filter: saturate(0) blur(2px) contrast(.6);
    transition: filter 1s ease, transform 0.6s ease;
    border: 1px solid white;

}
.elemento:hover
 {
    filter: saturate(1) blur(0px) contrast(1) brightness(1.1) drop-shadow(0 0 5px var(--color-glow));
    transform: scale(1.09);
}



#contiene_artistas
{
    width: 70vw;
    height: 30vh;
    overflow-x: auto;
    overflow-x: hidden; 
    display: flex;
    flex-direction: row;
    align-items: center;
}
#contiene_album
{
    width: 70vw;
    height: 30vh;
    overflow-x: auto;
    overflow-x: hidden;  
    display: flex;
    flex-direction: row;
}
.recomendado
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-left: 3vw;
    height: 37vh;
    width: 80vw;
    background-color: var(--color-barra);
    border-radius: 15px;
}
.recomendado_title
{
    color: var(--color-texto);
    text-align: center;
    margin-top: 0.5vh;
    font-size: 3vh;
}
.horizontal_recom{
    display: flex;
    flex: row wrap;
    align-items: center;
}
#artistas_recomendados{
    color: aliceblue;
}
#titulo_playlist{
    color: aliceblue;
    margin-bottom: 3px;
}
#botonesBiblio{
    display: flex;
    justify-content: start;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    margin-top: 10vh;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    background-color: #20202043;
}
#boton{
    background-color: transparent;
    border: none;
    color: aliceblue;
    cursor: pointer;
    margin-top: 50px;
    margin-left: 40px;
    font-size: 16px;
}
#contenedor_dinamico_biblioteca
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 74vh;
}

#contenedor_dinamico_biblioteca > div{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    align-items: center;
    width: 20vw;
    height: fit-content;
    background-color: var(--color-blur);
    color: var(--color-texto);
    transform: scale(0.8);

}
#contenedor_dinamico_biblioteca > div > h3{
    color: var(--color-texto);
}
.estilo_por_resultado_biblio
{
    background-color: var(--color-barra);
    border: none;
    width: 70%;
    color: var(--color-texto_nollamativo);
    padding: .5rem;
    border-radius: 20px;
    margin: 0.4rem;
}
#tools{
    position: fixed;
    top: 0.5vh;
    left: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 15vw;
    max-width: 100px;
    
}
.opciones{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items:center;
    top: 5vh;
    transition: all 1s ease-in-out;
    left: 9vw;
    height: 20vh; 
    width: 16vw;
    padding: 1rem;
    gap: 1rem;
    z-index: 10;
}
.btn_tool{
    transform: scale(.89);
    background-color: transparent;
    border: none;
}
#seleccion_tema{
    background-color: transparent;
    border: none;
    color: var(--color-texto_nollamativo);
}
#seleccion_tema:focus{
    border: none;
}

.normal
{
    position: relative;
    display: flex;
    width: 28vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: none;
    margin: none;
    z-index: 0;
}

.compacto
{
    visibility: hidden;
    position: relative;
    display: flex;
    max-width: 10vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: none;
    margin: none;
    z-index: 0; 
}
#despliega
{
    width: 10vw;
    height: 10vw;
    background-size: contain;
    background-position: center;
    border-radius: 50%;
    background-repeat: no-repeat;
    transition: all 1s;
}
#form_de_boton
{
    display: flex;
    height: 100vh;
    align-items: center;
}

#fondo_cancion
{
    background-size: contain;
    background-position: center;
    border-radius: 50%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
#playlist_contenedor{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    padding: 1vh;
    gap: 30px;
}
#crear_playlist{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50%;
    padding: 1vh;
    gap: 30px;
}




