*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}
/*Estilos*/
.crezca{
    transition: transform 1s;
    transform: scale(1);
}
.crezca:hover{
    transform: scale(1.05);
}
.glow{
    transition: filter 0.6s;
}
.glow:hover{
    filter:drop-shadow(0px 0px 6px #ffffffe3)
}
.glow_crezca{
    transition: transform 1s, filter 0.6s;
}
.glow_crezca:hover{
    transform: scale(1.2);
    filter:drop-shadow(0px 0px 6px #ffffffe3)
}
.oculto{
    display: none;
}
.blur{
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.286);
    box-shadow: 0 8px 32px rgba(0,0,0,0.2);
    
}
body {
    background-color: #202020; 
}
/*Display de sign up*/
#contenedor_del_contenedor_form_signup{
     background-image: url('https://cdn.pixabay.com/photo/2019/10/22/16/02/black-and-white-4569096_1280.jpg');
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: none;
    padding: none;
    margin: none;
    height:100vh;
    width:100vw;
}
#contenedor_signup
{
    background-color: rgba(255, 255, 255, 0.286);
    margin: 5vh 5vw;
}
#signup
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 4vh 15vw 4vh 15vw;
    gap: 16px;
    color:rgba(255, 255, 255, 0.904);
}
#encabezado_signup{
    font-size: 22px;
    cursor:none;
    transition-duration: 0.3s;
    margin-bottom: 0%;
}
#encabezado_signup:hover{
    text-shadow: 0px 0px 16px rgba(255, 255, 255, 0.618);
}
.img{
    width: 100px;
    height: auto;
}
#divdatosIngreso {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: fit-content;
}
#contenedor_usuario{
    display: flexbox;
    justify-content: space-evenly;
}
#usuario{
    width: 100%;
}
input{
    background-color: #5a5a5ab6;
    color:white;
    border:1px solid #cacacab6;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.3s;
}
input::placeholder{
    color: rgba(255, 255, 255, 0.67);
    text-align: center;
}
input:hover, input:focus{
    background-color: #202020;
    color: rgb(235,235,235)
}
@keyframes desvanecido { /*Es la animacion de cuando la contraseña aparece*/
    from {
        opacity:0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
#contraseña{
    width: 100%;
}
.animar-aparicion{
    animation: desvanecido 0.5s ease;
}
input[type='submit']
{
    background-color: transparent;
    color:rgb(255, 255, 255);
    border:1px solid #c5c5c5;
    box-shadow: 0 0 1px 0px #ffffff;
    text-shadow: 0 0 4px 8px #ffffff
}
input[type='submit']:hover, input[type='submit']:active, input[type='submit']:focus{
    background-color: #202020;
    font-size: 15px;
    border: none;
    box-shadow: 0 0 4px #20202042;
}
/*Fin de display de login*/

/*Display de home*/
#interfaz{
    display: flex;
}
#aside-pestañas
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #303030;
    max-width: 140px;
}
.icon-select
{
    position: relative;
    display: flex;
    width: 28vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: none;
    margin: none;
    z-index: 0;
}
.animacion_icono{
    display: none;
}
.icono_label {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.icon{
    fill: #ffffff88;
    border: none;
    margin: none;
    padding: none;
}
.indicator{
    position: absolute;
    background-color: #221f1fbf;
    width: 100%;
    height: 33%;
    top: 0;
    border-radius: 0;
    border: 1px solid #0303031c;
    transition: all .3s ease-in-out;
    z-index: -1; /*Para que el indicador este detras del icon*/
}
#div_area_home
{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: #202020;   
}
#buscador_sec {
    position: fixed;
    right: 0;
    top: 12px;
    width: 180px;
    max-width: 80vh;
    height: 3.5vh;
    background: #5a5a5ab6;
    border-radius: 20px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transition: width 1s cubic-bezier(.4,1.5,.6,1), height 0.4s cubic-bezier(.4,1,.6,1), transform 1s;
    z-index: 10;
    padding: 0 10px;
    overflow: hidden;
    margin-right: 2vw;
}
#buscador_sec:focus-within, #buscador_sec.expandido {
    padding:1%;
    border: none;
    width: 65vw;
    height: 60vh;
}
#buscador_input {
    width: 95%;
    height: 28px;
    background: transparent;
    border: none;
    color: white;
    outline: none;
    font-size: 1em;
    margin-bottom: 0;
    margin: none;
    padding: none;
    border: none;
}
#contenedor_resultados {
    display: flex;
    flex-direction: column;
    gap: 8px; /* Espacio entre resultados */
    margin-top: 16px;
    width: 100%;
}
#contenedor_resultados p {
    background: #303030b0;
    color: #fff;
    padding: 8px 12px;
    border-radius: 8px;
    margin: 0;
    cursor: pointer;
    transition-duration: 0.5s;
}
#contenedor_resultados p:hover {
    background: #505050;
}
.cont_reproduciendo{
    position: fixed;
    left: 0;
    bottom: 0;
    flex-direction: row;
    width: 100%;
    height: 10vh;
    align-items: center;
    justify-content: space-evenly;
}
.reproductor{
    display: flex;
    flex: row wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    width: 80%;
    height: 90%;
    max-width: 480px;
    max-height: fit-content;
    background-color: #b0afaf27;
    border-radius: 12px;
}
.rep_button{
    background-color: transparent;
    border: none;
}
.icon_reproductor{
    stroke:#c5c5c5;
}
.icon_reproduciendo_fill{
    fill: #c5c5c5;
}
#reproduciendo_back_next_play_stop{
    transform: scale(0.75);
    display: flex;
    flex: row wrap;
    align-items: center;
    justify-content: space-between;
    height: 5.5vh;
    width: 30%;
    border: none;
    padding: 0.2vh 2vh;
    background-color: #202020b8;
}
#cont_art_recom{
    margin-top: 10vh;
}
.recomendado
{
    display: flex;
    flex-direction: column;
    margin-left: 3vw;
    height: 25vh;
}
.recomendado_title
{
    color: white;
}
.horizontal_recom{
    display: flex;
    flex: row wrap;
}
#artistas_recomendados{
    color: aliceblue;
}





