<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba de la busqueda</title>
</head>
<body>
    <form>
        <input type="text" id="canciones" name="canciones" placeholder="Busca un canción">
        <button id="p"></button>
        <p id="pi"></p>
    </form>
    <script src="../Dynamics/js/baseDeDatos.js"></script>
    <script src="https://youtube.com/iframe_api"></script>
</body>
</html>