<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    <link href="../Statics/Styles/signup.css" rel="stylesheet">
    <title>Sing-up</title>
</head>
<body>
    <!--div id="contenedor_del_contenedor_form_signup">
        <div id="contenedor_signup" class="blur">
            <form id="signup">
                <h1 id="encabezado_signup">Inicio de sesion</h1>
                <img class="img" src="https://cdn-icons-png.flaticon.com/512/6492/6492359.png">
                <div id="divdatosIngreso" class="horizontal">
                    <div id="contendor_usuario">
                        <label for="usuario">Usuario:</label>
                        <input type="text" id="usuario" name="usuario" placeholder="example.com or user" required>
                    </div>
                </div>
            </form>
        </div>
    </div!-->
    <aside id="pestañas">
        <div id="cont_home"></div>
        <div id="cont_biblioteca"></div>
        <div id="cont_playlist"></div>
    </aside>
    <script src="../Dynamics/js/signup.js"></script>
</body>
</html>