<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    <link href="../Statics/Styles/signup.css" rel="stylesheet">
    <title>Sing-up</title>
</head>

<body>
    <!--div id="contenedor_del_contenedor_form_signup">
        <main id="contenedor_signup" class="blur">
            <form id="signup">
                <header id="encabezado_signup">Inicio de sesión</header>
                <img class="img" src="https://cdn-icons-png.flaticon.com/512/6492/6492359.png"> 
                <div id="divdatosIngreso" class="horizontal">
                    <div id="contendor_usuario">
                        <label for="usuario">Usuario:</label>
                        <input type="text" id="usuario" name="usuario" placeholder="example.com or user" required>
                    </div>
                </div>
            </form>
        </div>
    </div--->
    <aside id="aside-pestañas">
        <div id="cont_home">l</div>
        <div id="cont_biblioteca">m</div>
        <div id="cont_playlist">h</div>
    </aside>
    <script src="../Dynamics/js/signup.js"></script>
</body>
</html>