*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: #b4fff9;
    color: #f0f0f0;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;    
    justify-content: center;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 50%;
}


form{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.9em;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 50%;
    height: max-content;
    padding: 2% 5%;
    background: #008177;
    overflow: hidden;   
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    padding: 10px;
    margin: 10px;
    color: #ffffff;
}


input{
    border: none;
    border-radius: 1.5em;
    background: none;
    outline: 0px;
} 

button {
    background: #00302c;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1rem;
    margin: 5px 0;
    transition: background 0.3s ease;
    width: 100%;
}

button:hover {
    background: #135f58;
    color: black;
}

a{
    color:#00302c;
}


label {
    position: static;
    width: 80%;
    height: auto;
    pointer-events: auto;
    margin: 2%;
}

article{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin: 1em;
    width: 80%;
}

article p{
    width: max-content;
    align-self: start;
}

span{
    color:rgb(255, 0, 0);
    font-weight: bold;
    text-align: center;
}

.span-fuera{
    align-self:flex-start;
    
}

.span-dentro{
    width: 70%;
    margin: 2%;
}
  

.texto{
    position: relative;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    width: 100%;
    height: max-content;
    background-color: #ffffff;

}

.fila{
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 1em;
    width: 100%;
    height: 3em;
    border-radius: 1.5em;
}


#inline{
    display: flex;
    align-items: center;
    gap: 0.5em;
}   




